In [3]:
#Import library
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [34]:
pd.__version__

'2.2.3'

In [36]:
# Read dataset
df = pd.read_csv('/workspaces/machine_learning_zoomcamp/laptops.csv')
print('Total records in the dataset: ' + str(len(df)))

Total records in the dataset: 2160

In [6]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [37]:
p = len(df['Brand'].unique())
print('Total laptop brands in the dataset: ' + str(p))

Total laptop brands in the dataset: 27

In [38]:
q = len(df.columns[df.isna().any()].tolist())
print('Total column with Nan: ' + str(q))

Total column with Nan: 3

In [18]:
df_filt = df[df['Brand'] == 'Dell']
df_filt.describe()

             RAM      Storage     Screen  Final Price
count  84.000000    84.000000  84.000000    84.000000
mean   11.380952   395.142857  14.686905  1153.839881
std     4.583640   175.543846   1.023669   671.795071
min     4.000000   128.000000  13.000000   379.000000
25%     8.000000   256.000000  14.000000   699.000000
50%     8.000000   256.000000  14.500000  1003.000000
75%    16.000000   512.000000  15.600000  1313.810000
max    32.000000  1000.000000  17.000000  3936.000000

In [19]:
#Question 5
3936

3936

In [25]:
# Find the median value before filling Null
print(df['Screen'].median())
print(df['Screen'].mode()[0])

15.6
15.6

In [30]:
#After filling the Nas
df['Screen'] = df['Screen'].fillna(df['Screen'].mode()[0])
print(df['Screen'].median())
#Q6 The answer is No

15.6

In [32]:
df_filt = df[df['Brand'] == 'Innjoo']
df_filt = df_filt[['RAM', 'Storage', 'Screen']]
df_filt

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [33]:
# Create Numpy Array
X = df_filt.to_numpy()

# Matrix multiplication
XTX = np.dot(X.T, X)

# Matrix inverse
XTX_inv = np.linalg.inv(XTX)

# Array y
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# Multiplication XTX transpose with y
w = np.dot(np.dot(XTX_inv, X.T), y)

result_sum = np.sum(w)

# Output the result
result_sum

np.float64(91.2998806299555)